<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
		<link href="css/styles.css" rel="stylesheet" />
		<title>Mercado Liebre</title>
	</head>

	<body>
		<header>
			<div class="top-header">

				<img class="ml-logo" src="images/logo-mercado-liebre.svg" alt="" />
				<div class="search-bar">
					<input type="search" name="" id="search-bar" placeholder="Buscar productos, marcas" />
					<button><i class="fas fa-search"></i></button>
				</div>
				<p>
					<i class="fas fa-solid fa-dollar-sign"></i> Comprá en cuotas y sin
					tarjeta de crédito
				</p>
			</div>
			<div class="navbars">

				<nav class="navbar navbar-site">
					<ul>
						<li><a href="#">Ofertas</a></li>
						<li><a href="#">Tiendas Oficiales</a></li>
						<li><a href="#">Vender</a></li>
						<li><a href="#">Ayuda</a></li>
						<div class="spacer"></div>
					</ul>
				</nav>
				<nav class="navbar navbar-login">
					<ul>
						<li>
							<a href="register.html">Creá tu cuenta</a>
							<i class="fas fa-regular fa-user"></i>
						</li>
						<li>

							<a href="login.html">Ingresá</a>
							<i class="fas fa-solid fa-right-to-bracket">
							</i>
						</li>
						<li>
							<a href="#">Mis compras</a>
							<i class="fas fa-solid fa-cart-shopping"></i>
						</li>
					</ul>
				</nav>
			</div>
			<div class="burger-menu">
				<i class="fas fa-bars"></i>
			</div>
		</header>
		<img class="home-banner" src="images/img-home-banner.jpg" alt="">
		<main>
			<!-- Section: Basado en tu última visita -->
			<section>
				<h2>Basado en tu última visita</h2>
				<div class="product-boxes">
					<div class="product-box">
						<img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
						<div class="product-desc-box">
							<div class="product-delivery-icon">
								<i class="fas fa-solid fa-truck"></i>
							</div>
							<div class="product-price-discount">
								<p class="product-price">$ 6.770</p>
								<p class="product-discount">40% OFF</p>
							</div>
							<p class="product-title">Cafetera Moulinex</p>
						</div>
					</div>
					<div class="product-box">
						<img src="images/img-macbook-pro-2019.jpg" alt="Cafetera Moulinex" />
						<div class="product-desc-box">
							<div class="product-delivery-icon">
								<i class="fas fa-solid fa-truck"></i>
							</div>
							<div class="product-price-discount">
								<p class="product-price">$ 230.000</p>
								<p class="product-discount">20% OFF</p>
							</div>
							<p class="product-title">MacBook Pro 2019</p>
						</div>
					</div>
					<div class="product-box">
						<img src="images/img-samsung-galaxy-s10.jpg" alt="Cafetera Moulinex" />
						<div class="product-desc-box">
							<div class="product-delivery-icon">
								<i class="fas fa-solid fa-truck"></i>
							</div>
							<div class="product-price-discount">
								<p class="product-price">$ 70.500</p>
								<p class="product-discount">10% OFF</p>
							</div>
							<p class="product-title">Teléfono Samsung</p>
						</div>
					</div>
					<div class="product-box">
						<img src="images/img-tv-samsung-smart.jpg" alt="Cafetera Moulinex" />
						<div class="product-desc-box">
							<div class="product-delivery-icon">
								<i class="fas fa-solid fa-truck"></i>
							</div>
							<div class="product-price-discount">
								<p class="product-price">$ 23.200</p>
								<p class="product-discount">5% OFF</p>
							</div>
							<p class="product-title">Samsung 43</p>
						</div>
					</div>
				</div>
				</div>
				<!-- Repeat this div for each product -->
			</section>

			<!-- Section: Ofertas -->
			<section>
				<h2>Ofertas</h2>
				<div class="product-boxes">
					<div class="product-box">
						<img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
						<div class="product-desc-box">
							<div class="product-delivery-icon">
								<i class="fas fa-solid fa-truck"></i>
							</div>
							<div class="product-price-discount">
								<p class="product-price">$ 6.770</p>
								<p class="product-discount">0% OFF</p>
							</div>
							<p class="product-title">Cafetera Moulinex</p>
						</div>
					</div>
				</div>
				<!-- Repeat this div for each product -->
			</section>
		</main>
		<footer>
			<div class="promotional">
				<section>
					<i class="fas fa-regular fa-credit-card"></i>
					<h3>Pagá con tarjeta o en efectivo</h3>
					<p>
						Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
						efectivo en puntos de pago. ¡Y siempre es seguro!
					</p>
				</section>
				<section>
					<i class="fas fa-solid fa-gift"></i>
					<h3>Envío gratis desde $ 2.500</h3>
					<p>
						Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
						miles de productos. Es un beneficio de Mercado Puntos.
					</p>
				</section>
				<section>
					<i class="fas fa-solid fa-user-shield"></i>
					<h3>Seguridad, de principio a fin</h3>
					<p>
						¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
						hacer, porque estás siempre protegid@.
					</p>
				</section>
			</div>
			<p class="copyright-text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
		</footer>
	</body>

</html>