/* Paleta de colores */
:root {
  --amarillo: #EAC926;
  --azul: #03264C;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}

/* Tipografías */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: var(--gris-claro);
}

/* Tamaños Tipográficos */
body {
  font-size: 12px;
}

h2 {
  font-size: 24px;
}

.price {
  font-size: 18px;
}

.discount {
  font-size: 16px;
}

.product-desc {
  font-size: 16px;
}

.burger-menu {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 8px;
  background-color: var(--celeste);
  color: var(--gris-claro);
  border-radius: 8px;
}



header {
  background-color: var(--amarillo);
  padding: 1rem;
}

.ml-logo {
  max-height: 15vh;
}

main {
  width: 90%;
  margin: auto;
  text-align: center;
}

.product-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

main > section > h1 {
  color: var(--gris-oscuro);
}

footer {
  padding: 1em;
}

footer > section {
  text-align: center;
  padding: 2em 1em;
}

footer > section > i {
  color: var(--celeste);
  font-size: 24px;
}

footer > section > h3 {
  font-size: 20px;
  color: var(--gris-oscuro);
  margin: 0;
}

footer > section > p {
  font-size: 14px;
  color: var(--gris-oscuro);
  margin: 0;
}


.copyright-text {
  color: var(--gris-oscuro);
}

.product-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
}

.product-box > img {
  width: 240px;
}

.product-shipping {
  width: fit-content;
  border: 1px solid var(--verde);
  border-radius: 2rem;
  padding: 8px;
  color: var(--verde);
}

.product-desc {
  border-top: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  padding: 15px;
}


.product-price {
  margin: 0;
  font-size: 14px;
}

.product-discount {
  margin: 0;
  color: var(--verde);
  font-size: 14px;
}

.prodct-title {
  color: var(--gris-oscuro);
  font-weight: 400;
  margin: 16px 0 0 0;
}

@media screen and (min-width: 361px) {
  .product-desc {
    display: block;
  }

  .burger-menu {
    display: none;
  }

  .product-box {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 769px) {
  .product-desc {
    display: block;
  }

  .burger-menu {
    display: none;
  }

  .product-box {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 360px) {

  .navbar-login,
  .navbar-site,
  .product-desc {
    display: none;
  }

}